.modal-content {
  padding: 0;
  padding-top: 10px;
}

.gauge-chart {
  padding-top: 10px;
}

.body-row{
  display: block;
  padding-left: 8px;
  padding-right: 5px;
}

.body-row .conn-text {
  font-size: "1em";
  font-weight: "normal";
  font-family:"Courier New";
  color: '#4B535E';
}
