.instance-box {
  margin-bottom: 20px;
}

.instance-el {
  border: 2px solid #718fb2;
  padding: 4px;
  padding-bottom: 8px;
  padding-right: 0px;
}

.title.instance-el {
  font-size: 1.1em;
  font-weight: bold;
}

.title.instance-el .title-text{
  padding-top: 10px;
}

.error-msg {
  padding-bottom: 20px;
}